{% extends 'admin.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
    <a class="btn btn-primary" href="{{ path('app_admin_article_new') }}">Ajouter un nouvel article</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Content</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.content | raw }}</td>
                <td><img width="200px" src="{{ vich_uploader_asset(article,'imageFile') }}"></td>
                <td>{{ article.createdAt ? article.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_article_show', {'id': article.id}) }}">👀</a>
                    <a class="btn btn-danger" href="{{ path('app_admin_article_edit', {'id': article.id}) }}">✎</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
