{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <form action="{{ path("app_security_login") }}" method="post">
        <input type="email" name="_username" id="" class="form-control">
        <input type="password" name="_password" id="" class="form-control">
        <input type="submit" value="se connecter" class="btn btn-secondary">
    </form>

    
{% endblock %}
