{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Conditions Generale d'Utilisations</h1>
        {% if is_lazy %}
            <p>{{ tldr }}</p>
        {% else %}
            <p>{{ content }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}