{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog {% if slogan %} - {{ slogan }} {% endif %} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bienvenue sur mon Blog</h1>
        <h2>slogan : {% if slogan %} {{ slogan }} {% endif %}</h2>
        {% if age >= 18 %}
        <p>Bonjour {{ firstname }}, tu es majeur!</p>
        {% else %}
        <p>Bonjour {{ firstname }}, tu es mineur!</p>
        {% endif %}
        <p>test</p>
        
    </div>
</div>
{% endblock %}