{% extends 'admin.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    <h1>Status index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>InternalName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.label }}</td>
                <td>{{ status.internalName }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_status_show', {'id': status.id}) }}">👀</a>
                    <a class="btn btn-danger" href="{{ path('app_admin_status_edit', {'id': status.id}) }}">✎</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_status_new') }}">Create new</a>
{% endblock %}
