<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("style/bootstrapAdmin.min.css") }}">

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>


   {% include 'parts/_main_menu.html.twig' %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ type }}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>

        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-2 bg-info text-light">
                admin
                <nav>
                    <ul style="list-style:none;padding:0px">
                        <li><a class="btn {% if active == 'nav_article' %}btn-primary {% else %} btn-secondary{% endif %}" href="{{ path('app_admin_article_index') }}">Articles</a></li>
                        <li><a class="btn {% if active == 'nav_status' %}btn-primary {% else %} btn-secondary{% endif %}" href="{{ path('app_admin_status_index') }}">Status</a></li>
                        <li><a class="btn {% if active == 'nav_??' %}btn-primary {% else %} btn-secondary{% endif %}" href="">un text</a></li>
                        <li><a class="btn {% if active == 'nav_??' %}btn-primary {% else %} btn-secondary{% endif %}" href="">un text</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-9 offset-1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}Footer ici{% endblock %}
    <script src="{{ asset(" js/bootstrap.min.js") }}"></script>
</body>

</html>