{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
<div class="row">
<h1>Les articles</h1>
</div>
<div class="row">
    <section class="articles">
        {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">écrit le 30/11/2021 à 11h00 dans la categorie {{ article.category.label }}</div>
            <div class="content">
                {% if article.imageName %}
                <img src="{{ vich_uploader_asset(article,'imageFile') }}" alt="image sur {{ article.title }} ">
                {% else %}
                    <img src="{{ asset("images/assets/default.jpg") }}" alt="image sur {{ article.title }} ">
                {% endif %}
                <p>
                    {{ article.content|raw }}
                </p>
                <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite...</a>
            </div>
        </article>
        {% endfor %}
       
    </section>
</div>

{% endblock %}
