{% extends 'base.html.twig' %}

{% block title %}
Nouvel article
{% endblock %}

{% block body %}
<div class="row">
	<h1>Nouvel article</h1>

	<article>
		<form action="#" method="post" class="form-group">
			<label for="title">Titre</label>
				<input type="text" name="title" id="title" class="form-control">
			
			<label for="author">Auteur</label>
				<input type="text" name="author" id="author" class="form-control">
			
			<label for="image">Image</label>
				<input type="text" name="image" id="image" class="form-control">
			
			<textarea name="content" id="" cols="30" rows="10" class="form-control mb-4"></textarea>

			<input type="submit" value="Ajouter l'article" class="btn btn-primary">
		</form>
	</article>
</div>

{% endblock %}