{% extends 'base.html.twig' %}

{% block title %}Nouvel article!{% endblock %}

{% block body %}

<div class="row">
<h1>Nouvel article</h1>

<form action="#" method="post" data-dashlane-rid="db081f900926f101" data-form-type="other">
    <fieldset>

      <legend>Add Article</legend>

        <label for="exampleTextarea" class="form-label mt-4">Titre</label>
        <input class="form-control" type="text" name="title" id="title"></input
        >
        <label for="exampleTextarea" class="form-label mt-4">Author</label>
        <input class="form-control" type="text" name="author" id="author"></input>

        <label for="exampleTextarea" class="form-label mt-4">Image</label>
        <input class="form-control" type="text" name="image" id="image"></input>

        <label for="exampleTextarea" class="form-label mt-4">Text</label>
        <textarea class="form-control" type="textarea" name="content" id="content" rows="5" id="exampleTextarea"></textarea>

    
      <button type="submit" class="btn btn-primary mt-5" data-dashlane-rid="f0d8bd7a64066732" data-dashlane-label="true" data-form-type="action">Submit</button>
    </fieldset>
  </form>

</div>
{% endblock %}